:root {
  --main-bg-image: linear-gradient(109.6deg, #06b7f9 11.2%, #194aec 91.1%);
  --primary-color: #048edf;
  --primary-hover-color: #0580c7;
  --white: #fff;
  --secondary-color: #d3e9f7;
  --secondary-hover-color: #b8ddf3;
  --CTA-color: #20aafa;
  --CTA-hover-color: #1195e2;
  --primary-text-color: #333;
  --secondary-text-color: #71c1f0;
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --error-bg-color: #ecbbcb;
  --error-text-color: #b32451;
  --progress-bar-trail-color: #d3eaf8;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: var(--secondary-text-color);
}
